## Playing with APIs

In [42]:
import requests
import mysql.connector
import wbgapi as wb
#import json
import pandas as pd

In [2]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='trial',
                                         user='rishi',
                                         password='verygood98')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.25
You're connected to database:  ('trial',)

In [3]:
def fetch_WB_data()

SyntaxError: invalid syntax (<ipython-input-3-00e81791067e>, line 1)

In [ ]:
if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

In [ ]:
help(wb)

In [7]:
help(wb.series)

Help on module wbgapi.series in wbgapi:

NAME
    wbgapi.series - Access information about series in a database

FUNCTIONS
    Series(id='all', q=None, topic=None, db=None, name='SeriesName')
        Return a pandas Series by calling list

    get(id, db=None)
        Retrieve a specific series object

        Arguments:
            id:     the series identifier

            db:     database; pass None to access the global database

        Returns:
            a series object

        Example:
            print(wbgapi.series.get('SP.POP.TOTL')['value'])

    info(id='all', q=None, topic=None, db=None)
        Print a user report of series. This can be time consuming
        for large databases like the WDI if 'all' series are requested.

        Arguments:
            id:         a series identifier or list-like of identifiers

            q:          search string (on series name))

            topic:      topic ID or list-like

            db:         database; pass None to access the global database

        Returns:
            None

    list(id='all', q=None, topic=None, db=None)
        Return a list of series elements in the current database

        Arguments:
            id:     a series identifier (i.e., CETS code) or list-like

            q:      search string (on series name)

            topic:  topic ID or list-like

            db:     database; pass None to access the global database

        Returns:
            a generator object

        Example:
            for elem in wbgapi.series.list():
                print(elem['id'], elem['value'])

FILE
    /Users/rishigummakonda/opt/anaconda3/lib/python3.8/site-packages/wbgapi/series.py

In [12]:
wb.search('diabetes prevalence')

========
Series: SH.STA.DIAB.ZS, Diabetes prevalence (% of population ages 20 to 79)

IndicatorName: Diabetes prevalence (% of population ages 20 to 79)
--------
Longdefinition: ...Diabetes prevalence refers to the percentage of people ages 20-79 who have type 1 or type 2...

In [18]:
wb.data.DataFrame(['NY.GDP.PCAP.CD', 'SP.POP.TOTL'], 'CAN', mrv=5) # most recent 5 years

,YR2016,YR2017,YR2018,YR2019,YR2020
series,,,,,
NY.GDP.PCAP.CD,4.231560e+04,4.512936e+04,4.645474e+04,4.632667e+04,4.324162e+04
SP.POP.TOTL,3.610949e+07,3.654530e+07,3.706518e+07,3.759338e+07,3.800524e+07

In [19]:
help(wb.data.DataFrame)

Help on function DataFrame in module wbgapi.data:

DataFrame(series, economy='all', time='all', index=None, columns=None, mrv=None, mrnev=None, skipBlanks=False, labels=False, skipAggs=False, numericTimeKeys=False, timeColumns=False, params={}, db=None, **dimensions)
    Retrieve a 2-dimensional pandas dataframe.

    Arguments:
        series:             a series identifier or list-like, e.g., SP.POP.TOTL

        economy:            an economy identifier or list-like, e.g., 'BRA' or ['USA', 'CAN', 'MEX']

        time:               a time identifier or list-like, e.g., 'YR2015' or range(2010,2020).
                            Both element keys and values are acceptable

        index:              name or list of dimensions for the DataFrame's index, e.g., 'economy'. If None then the function
                            will define the index based on your request. Note: to get a dataframe with no index
                            (i.e., 0-based integers) call `reset_index()` with on the return value of this function.

        columns:            name of the dimension for the DataFrame's columns, e.g., 'series'. If None then the function
                            will define columns based on your request.

        mrv:                return only the specified number of most recent values (same time period for all economies)

        mrnev:              return only the specified number of non-empty most recent values (time period varies)

        skipBlanks:         skip empty observations

        labels:             include the dimension name for rows

        skipAggs:           skip aggregates

        numericTimeKeys:    store the time object by value (e.g., 2014) instead of key ('YR2014') if value is numeric

        timeColumns:        add extra columns to show the time dimension for each series/economy
                            If 'auto' then the function will guess based on other parameters

        params:             extra query parameters to pass to the API

        dimensions:         extra dimensions, database specific (e.g., version)

    Returns:
        a pandas DataFrame

    Examples:
        # 5 years of population data (with economy names)
        wbgapi.data.DataFrame('SP.POP.TOTL, time=range(2010,2020),labels=True)

        # Most recent poverty and income data for LAC
        wbgapi.data.DataFrame(['SI.POV.NAHC', 'NY.GDP.PCAP.CD'], economy=wb.region.members('LAC'),mrnev=1,timeColumns=True)

        # Fetch most recent CO2 emissions for each country and merge its income group
        wbgapi.data.DataFrame('EN.ATM.CO2E.PC',mrnev=1).join(wbgapi.economy.DataFrame()['incomeLevel'])

        # Top 10 emitters per capita
        wbgapi.data.DataFrame('EN.ATM.CO2E.PC',mrnev=1,labels=True).sort_values('EN.ATM.CO2E.PC',ascending=False).head(10)

    Notes:
        timeColumns currently defaults to False so that the default column composition is consistent. This may change to 'auto'
        at some point, so that mrv behavior is more intuitive for data discovery

In [25]:
wb.series.info(q='women')

id                 value
-----------------  --------------------------------------------------------------------------------------------------------------------------------------------
SG.DMK.ALLD.FN.ZS  Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)
SG.DMK.SRCR.FN.ZS  Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care  (% of women age 15-49)
SG.GEN.PARL.ZS     Proportion of seats held by women in national parliaments (%)
SG.LAW.INDX        Women Business and the Law Index Score (scale 1-100)
SG.VAW.1549.ZS     Proportion of women subjected to physical and/or sexual violence in the last 12 months (% of women age 15-49)
SG.VAW.ARGU.ZS     Women who believe a husband is justified in beating his wife when she argues with him (%)
SG.VAW.BURN.ZS     Women who believe a husband is justified in beating his wife when she burns the food (%)
SG.VAW.GOES.ZS     Women who believe a husband is justified in beating his wife when she goes out without telling him (%)
SG.VAW.NEGL.ZS     Women who believe a husband is justified in beating his wife when she neglects the children (%)
SG.VAW.REAS.ZS     Women who believe a husband is justified in beating his wife (any of five reasons) (%)
SG.VAW.REFU.ZS     Women who believe a husband is justified in beating his wife when she refuses sex with him (%)
SH.ANM.ALLW.ZS     Prevalence of anemia among women of reproductive age (% of women ages 15-49)
SH.ANM.NPRG.ZS     Prevalence of anemia among non-pregnant women (% of women ages 15-49)
SH.DYN.AIDS.FE.ZS  Women's share of population ages 15+ living with HIV (%)
SH.PRG.ANEM        Prevalence of anemia among pregnant women (%)
SH.STA.ANVC.ZS     Pregnant women receiving prenatal care (%)
SP.M15.2024.FE.ZS  Women who were first married by age 15 (% of women ages 20-24)
SP.M18.2024.FE.ZS  Women who were first married by age 18 (% of women ages 20-24)
                   18 elements

In [30]:
wb.series.info(q='!diabetes prevalence')

id              value
--------------  ---------------------------------------------------
SH.STA.DIAB.ZS  Diabetes prevalence (% of population ages 20 to 79)
                1 elements

In [33]:
diabetes_wb = wb.data.DataFrame(['SH.STA.DIAB.ZS'])

In [35]:
diabetes_wb.head()

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.600000,NaN
AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.648452,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.200000,NaN
AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.395120,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,NaN

In [50]:
indexes = pd.DataFrame(diabetes_wb.index.values)[0]

In [51]:
indexes.unique()

array(['ABW', 'AFE', 'AFG', 'AFW', 'AGO', 'ALB', 'AND', 'ARB', 'ARE',
       'ARG', 'ARM', 'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL',
       'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ',
       'BMU', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN',
       'CEB', 'CHE', 'CHI', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG',
       'COL', 'COM', 'CPV', 'CRI', 'CSS', 'CUB', 'CUW', 'CYM', 'CYP',
       'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'EAP', 'EAR',
       'EAS', 'ECA', 'ECS', 'ECU', 'EGY', 'EMU', 'ERI', 'ESP', 'EST',
       'ETH', 'EUU', 'FCS', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM', 'GAB',
       'GBR', 'GEO', 'GHA', 'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC',
       'GRD', 'GRL', 'GTM', 'GUM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC',
       'HRV', 'HTI', 'HUN', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX',
       'IMN', 'IND', 'INX', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA',
       'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA',
       'KOR', 'KWT', 'LAC', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN',
       'LDC', 'LIC', 'LIE', 'LKA', 'LMC', 'LMY', 'LSO', 'LTE', 'LTU',
       'LUX', 'LVA', 'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV',
       'MEA', 'MEX', 'MHL', 'MIC', 'MKD', 'MLI', 'MLT', 'MMR', 'MNA',
       'MNE', 'MNG', 'MNP', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAC',
       'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NRU',
       'NZL', 'OED', 'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PLW',
       'PNG', 'POL', 'PRE', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE', 'PSS',
       'PST', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU', 'SDN',
       'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSA',
       'SSD', 'SSF', 'SST', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ',
       'SXM', 'SYC', 'SYR', 'TCA', 'TCD', 'TEA', 'TEC', 'TGO', 'THA',
       'TJK', 'TKM', 'TLA', 'TLS', 'TMN', 'TON', 'TSA', 'TSS', 'TTO',
       'TUN', 'TUR', 'TUV', 'TZA', 'UGA', 'UKR', 'UMC', 'URY', 'USA',
       'UZB', 'VCT', 'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLD', 'WSM',
       'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)