### merging datasets version 2 

<p>
    sorry this is late, v1 by rishi, im gonna try to go step by step, later im gonna outline what we need to do remaining
</p>

In [1]:
import numpy as np
import pandas as pd
import datetime
#`from dataprep.clean import clean_country

In [5]:
main_link = 'https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/'
country_codes = pd.read_csv(main_link+ 'countries_codes_and_coordinates_worldmapplot.csv')
display(country_codes.describe(), country_codes.head())

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
count,256,256,256,256,256,256
unique,256,244,244,244,176,196
top,Mali,"""VC""","""VCT""","""670""","""8""","""30"""
freq,1,3,3,3,8,7

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""

One Variable (Wide):

In [ ]:
# BCG immunization rates
bcg_who = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/bcg_WHO.csv')

One Variable (Long):

In [ ]:
#UV rays (from 2004?)
uv_who = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/uv_WHO.csv')

#Russian Rainfall 
#NEEDS SOURCE
rus_rain = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/rain_RUS_1991_2020.csv')

#Russian Temp
#NEEDS SOURCE
rus_temp = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/temp_RUS_1991_2020.csv')

#Diabetes Prevelance (World Bank)
diabetes_wb = pd.read_csv('https://raw.githubusercontent.com/D4I-financial-Inclusion-database-files/D4I_FinInclusion_Data/main/BMJ_Data_Country_Article/diabetes_WB.csv')
# later datasets also include this data

Multiple Variables (Wide):

Multiple Vairables (Long):

### Editing UV WHO dataset

note: 191 countries

In [ ]:
uv_who.head()

- we need to :
    - delete the first row
    - rename the first column

In [ ]:
uv_who.columns = ["Country", "UV"]
# Ideally we would see what units its measured in and include that in column name

uv_who = uv_who.drop(0)
uv_who.head()

In [ ]:
uv_who.describe()
uv = uv_who

- we have 191 countries in the UV dataset

### Editing BCG WHO Data
note: 156 countries

In [ ]:
bcg_who.head()

In [ ]:
bcg_who.describe()

- change format to:
    - Country
    - Year
    - BCG immunization coverage among 1-year-olds

In [ ]:
def wide_to_long_who(df, variable, value):
    new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    df.columns = new_header #set the header row as the df header
    col_names = df.columns.values.tolist()
    return pd.melt(df, id_vars =col_names[0],value_vars = col_names[1:], var_name=variable, value_name=value)

In [ ]:
bcg = wide_to_long_who(bcg_who,"Year", "BCG immunization coverage among 1-year-olds")
bcg

In [ ]:
bcg_mod = clean_country(bcg, 'Country', output_format="alpha-3")
bcg_mod

### Russian Data. - NOT DONE

- find source asap and text rishi or make note of it

In [ ]:
rus_rain.head()

In [ ]:
rus_temp.head()

In [ ]:
rus_rain.describe()

In [ ]:
rus_temp.describe()

In [ ]:
rus_data = pd.merge(rus_rain,rus_temp)

In [ ]:
rus_data

In [ ]:
month_name = "Jan"
datetime_object = datetime.datetime.strptime(month_name, "%b")
month_number = datetime_object.month
print(month_number)

In [ ]:
## we can take this oppurtunity to write code to replace instance of month name with a number

## playing with pycountry

In [ ]:
import pycountry

##to do tn (07/19):

hamza (work on function to convert country name to code):
- get list of countries in UV data set and BCG data set
- cross ref with countries_codes dataset
- see what variables are different
- play with pycountry module
- look at other code online to fill the gaps, for example: https://colab.research.google.com/github/Intelecy/covid-19-research/blob/master/COVID_19_model.ipynb#scrollTo=sa8Q4yq-nvrm


rishi:
- relational diagrams for each dataset and combine everything
- SQL structure

both:
- continue data cleaning

later but something we should do before end of summer:
- using apis with SQL

In [ ]:
diabetes_wb.head()

In [ ]:
diabetes_wb.describe()

In [ ]:
col_names = diabetes_wb.columns.values.tolist()
pd.melt(diabetes_wb, id_vars ='Country Name',value_vars = col_names[4:], var_name="Year", value_name="Diabetes")

list of unique values in certain column:

In [ ]:
diabetes_wb['Country Name'].unique()